body {
  background: url('/images/background.png') repeat-x;
}
#wrapper {
  margin: 1em auto 0 auto;
  width: 100em;
}
#header h1 {
  margin:0;
  font-weight:bold;
  color: #00aaf4;
  font-size: 4em;
}
#header p {
  font-size: 1.3em;
}
.darkblue {
  color: #0083bc;
}
table {
  width: 32em;
}
table td {
  padding:0;
}
table td.last {
  padding: 1em 0 0 0;
}
.errorExplanation {
  margin: 0 0 0 1em;
}
.errorExplanation h2 {
  font-size: 1.5em;
}
