body {
  background: url('/images/background.png') repeat-x;
}
#wrapper {
  margin: 1em auto 0 auto;
  width: 80em;
}
#header h1 {
  padding:0.08em 0 0 0;
  margin:0;
  font-weight:bold;
  color: #00aaf4;
  font-size: 4em;
}
#header p {
  font-size: 1.3em;
  margin:0 0 1.2em 0;
}

.darkblue {
  color: #0083bc;
}
.round {
  -moz-border-radius:    .5em;
  -webkit-border-radius: .5em;
}
.right {
  float:right;
}
.flash {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 1.2em;
  padding: .6em 0 0 0;
  margin:0;
}
.no_space {
  margin:0;
  padding:0;
}
.error {
  color:#fd6363;
}
.success {
  color:#18a818;
}
.tooltip {
  padding:.7em;
  border: 1px #333 solid;
  background:rgba(255,255,255,0.7);
  display:none;
}
.tooltip p {
  margin:0;
}
.fieldWithErrors input {
  background:#fe9191;
}
#delete.tooltip {
  background:rgba(253,99,99,0.7);
}
#promote.tooltip {
  background:rgba(66,238,67,0.7);
}
#demote.tooltip {
  background:rgba(231,149,92,0.7);
}
#modify.tooltip {
  background:rgba(112,181,255,0.7);
}
#manage.tooltip {
  background:rgba(112,181,255,0.7);
}

#errorExplanation {
  margin: 0 0 0 1em;
}
#errorExplanation p {
  color: #fd6363;
  margin:0;
  font-weight: bold;
  font-size: 1.2em;
}

#user_details {
  background: url('/images/user_details_background.png');
  float: right;
  padding: 1em 1em .5em 0em;
  -moz-border-radius:    .5em;
  -webkit-border-radius: .5em;
}
#user_details img.gravatar {
  float: right;
  border: 1px #888 solid;
  padding:.25em;
  background: #888;
  -moz-border-radius:    .5em;
  -webkit-border-radius: .5em;
}
#user_details p {
  text-align: right;
  font-size: 1.4em;
  margin: 0 4.2em 0 0;
  color: #aaa;
}
#user_details ul {
  padding:0 5.8em 1.05em 0;
  margin:1.1em 0 1.05em 0;
}
#user_details ul li {
  float: left;
  display: block;
}
#user_details ul li a {
  margin: 0 0 0 1em;
  padding: .2em 1em .2em 1em;
  border: 1px #888 solid;
  background: url('/images/button_background.png');  
  text-decoration: none;
  color: #ccc;
}
#user_details ul li a:hover {
  color: #fff;
  border: 1px #fff solid;
}
#user_details ul li a:active {
  background: url('/images/button_background_180.png');
}

table.form {
  padding: 1em 0 1.4em 0;
  width: 40em;
  border: 1px #575b5f solid;
  background: url('/images/table_form_background.png') repeat-y;
}
table.form tr td {
  padding:0 0 0 0.8em ;
}
table.form tr th {
  width:12em;
  color:#fff;
  text-align: right;
}

table.list {
  background: url('/images/table_list_background.png') repeat-x;
  border: 1px #575b5f solid;
}
table.list tr th {
  color:#fff;
  padding:0.6em;
}
table.list tr td {
  border-bottom: dotted 1px #333;
  padding: 0.2em;
}
table.list tr.last td {
  border-bottom: none;
}
table.list tr td.role_cell {
  width:5em;
}
table.list tr td.image_cell {
  width:3.1em;
}
table.list tr.selected {
  background: #cbe1ff;
}
table.list tr td img {
  padding: 0.3em 0.3em 0 0.3em;
  margin:0;
}
table.list tr td.first {
  padding: 0 0 0 1em;
}
table.inner {
  margin:0;
}
table.inner.content_right {
  text-align: right;
}
table.inner.content_invite {
  width: 22em;
}
table.list tr th.first {
  padding: 0 0 0 1.4em;
}
