body {
  background: url('/images/background.png') repeat-x;
}

#wrapper {
  margin: 0 auto 0 auto;
  padding: 1em;
  width: 100em;
}

.round {
  -moz-border-radius:    1em;
  -webkit-border-radius: 1em;
}
