body {
  background: url('/images/background.png') repeat-x;
}

#wrapper {
  margin: 5em auto 0 auto;
  padding:2em;
  width: 42em;
  border: 1px #222 solid;
}
table {
  width: 32em;
}

table td {
  margin:0;
  padding:0;
}
table td.last {
  padding: 0.5em 0 0 0;
}
.errorExplanation {
  margin: 0 0 0 2em;
}
.errorExplanation h2 {
  font-size: 1.5em;
}
.round {
  -moz-border-radius:    1em;
  -webkit-border-radius: 1em;
}
