development:
  adapter: postgresql
  encoding: unicode
  database: powerwdm_development
  pool: 5
  username: powerwdm
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: powerwdm_test
  pool: 5
  username: powerwdm
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: powerdwm_production
  pool: 5
  username: powerwdm
  password:
