development:
  adapter: postgresql
  encoding: unicode
  database: powerdms_development
  pool: 5
  username: powerdms
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: powerdms_test
  pool: 5
  username: powerdms
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: powerdms_production
  pool: 5
  username: powerdms
  password:
